client/node_modules
client/package-lock.json
assets/avatar/*
!assets/avatar/user-default.png
assets/logo/*
!assets/logo/company-default.png
assets/resume/*
node_modules
package-lock.json
/public/build/
.env

.DS_Store
